{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1>Auction Homepage</h1>
            <table>
            {% for item in item_list %}
                <tr>
                    <td><p>{{ item.name }}</p></td>
                    <td><p>{{ item.price }}€</p></td>
                    <td>
                        <form>
                            <input class="btn btn-success btn-sm" type="submit" value="Bid" onclick="{{ item.increment }}">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
